body {
  background: #ccc;
}

.header {
  background: green;
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  margin: 0 0 30px;
}

.header img {
  height: 30px;
  width: 300px;
}

.panel {
  text-align: center;
  .panel-heading {
    font-size: 150%;
  }
}

.camper-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 0 20px;
}

.options {
  cursor: pointer;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.arrow-down {
  height: 0;
  width: 0;
  margin: auto;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #111;
}

.search-area {
  float: right;
}

.search {
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #aaa;
}

.search-icon {
  left: -40px;
  cursor: pointer;
}