doctype html
html
  head
    title Timestamp Microservice
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Example usage:
    code https://timestamp-mi.herokuapp.com/December%2015,%202015
    br
    code https://timestamp-mi.herokuapp.com/1450137600
    h1 Example output:
    code { "unix": 1450137600, "natural": "December 15, 2015" }
    
    
