<!DOCTYPE html>
<html>
    <head>
        <title> URL Shortener </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css" >
       
    </head>
    <body>
        <div class="container">
            <div class="url-short">
                <h3>Example creation usage:</h3>
                <code>
                https://bit-url.heruko.com/new/https://freecodecamp.com</code><br>
               <code>https://bit-url.heruko.com/new/https://rameshsyangtan.com.np</code>
                <h3>Example creation output</h3>
                <code>
                    { "original_url":"http://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }
               </code>
                <h3>Usage:</h3>
                <code>https://bit-url.heruko.com/2871</code>
                <h3> redirect to: </h3>
                <code>https://www.google.com/</code>
            </div>
        </div>
    </body>
    
</html>