<!DOCTYPE html>
<html>
<head>
	<title>Metadata Microservice !</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="utf-8">
	<meta name="description" content="A simple app which shows uploaded file size in bytes !">
</head>
<body>
	<h1>Meta data</h1>
	<p>Upload any file and get it's size !</p>
	<div class="container">
		<form enctype="multipart/form-data" method="post" action="/">
			<input type="file" name="file" required>
			<button type="submit">Upload</button>
		</form>
	</div>
</body>
</html>