
// Information box width and height
$info-height: 100px;
$info-width: 45vw;
$shadow-color: #000;

$border-width: 10px;
$border-color: #151213;
$border-style: solid;

* {
	box-sizing: border-box;
}

body {
	background: #aaa;
	margin: 0;
	padding: 0;
}

.info-box {
	height: $info-height;
	width: $info-width;
	background: #2c352d;
	margin: 5px auto 0;
	border-width: $border-width $border-width 0 $border-width;
	border-color: $border-color;
	border-style: $border-style;
	border-radius: 10px 10px 0 0;
	text-align: center;
	box-shadow: 7px 7px 15px $shadow-color;
	color: #ccc;
	padding: 10px 10px 2px;
	hr {
		margin: 8px 0 0;
		padding: 0;
		border-radius: 50%;
	}
	div:first-child {
		font-size: 18px;
		font-weight: bold;
		text-shadow: 2px 2px 5px #555;
		span {
			border: 1px solid #fff;
			padding: 3px 8px;
			border-radius: 5px;
		}
	}
	div:last-child i {			
		margin: 10px 12px;
		cursor: pointer;
		&:hover {
			color: #fff;
		}			
	}
}
.title {
	display: block;
	margin: 10px 0 0;
	font-size: 3vw;
	text-align: center;
}
.board {
	display: block;
	margin: auto;
	background: #888;
	border-radius: 10px;
	box-shadow: 7px 7px 15px $shadow-color;
}